<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Our Team</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='aboutsus.css')}}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body id="Danielle">

  <!-- Masthead -->
  <header class="masthead text-white text-center"style="background-image: url('../static/team.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 mx-auto">
          <h1 class="mb-5">Our Team</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>
  <section>


      <div class="row no-gutters" id="div1">
        <div class="col-lg-12 my-auto showcase-text">
          <h2 id="p2">Our Values</h2>
          <p class="lead mb-0" id="p1">In order that all of us will have a better future we gathred the best Isreali infrastructure experts.
          All of our members came with passion to save our plant and togther we are creating the change we need. </p>
        </div>
      </div>
  </section>

  <!-- Icons Grid -->

  <!-- Image Showcases -->
  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="overlay">
      <h2 class="mb-5">Our Family </h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/Sustainable Group-12.jpg" alt="">
            <h5>Yoni Haran</h5>
            <p class="font-weight-light mb-0">CEO and Concept manager.Energy, Water & Waste expert </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/Sustainable Group-2.jpg"  alt="">
            <h5>Victor Hajaj</h5>
            <p class="font-weight-light mb-0">Co-Founder</p>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="testimonials text-center bg-light">
    <div class="overlay">
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg" alt="">
            <h5>Moran Levy</h5>
            <p class="font-weight-light mb-0">Entrepreneur, Chairwoman, HR manager/ community dev.r</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg"  alt="">
            <h5>Dr. Dan Sagie </h5>
            <p class="font-weight-light mb-0"> Head of energy team. Chief Scientist Rotem Industries, CTO Capital Nature.</p>
          </div>
        </div>
        <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg"  alt="">
            <h5>Shimon Tal  </h5>
            <p class="font-weight-light mb-0">Head of water team. Former Israel’s water authority manager</p>
          </div>
        </div>
        <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg"  alt="">
            <h5>Tzuki Deutschn </h5>
            <p class="font-weight-light mb-0"> Water systems expert. Former CEO of “Mey-Golan” water corporatio</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>
    <section class="testimonials text-center bg-light">
    <div class="overlay">
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg" alt="">
            <h5>Victor Haim</h5>
            <p class="font-weight-light mb-0">Entrepreneur,project developer and VP Biz. Dev. </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg"  alt="">
            <h5>Dov Barak    </h5>
            <p class="font-weight-light mb-0">Head of control team. Control manager of IL NRCN.</p>
          </div>
        </div>
        <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg"  alt="">
            <h5>Steven Berilowich   </h5>
            <p class="font-weight-light mb-0">Legal consulting. “Hamburger-Evron” strategic consulting</p>
          </div>
        </div>
        <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/logo.jpg"  alt="">
            <h5>Dr. Amit Mor and Shimon Seroussis  </h5>
            <p class="font-weight-light mb-0"> Economic team. “Eco-Energy” office. World bank & IL Ministry of Energy advisor</p>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
