<!--Contact page where you can send a email-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<title></title>
	<link href="{{url_for('static', filename='landing-page.css')}}" rel="stylesheet" type="text/css">
	<link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- navigation -->
  <nav>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('team')}}">Our Team</a>
  <a href="{{url_for('join')}}">Join Qayma</a>
  <a href="{{url_for('contact')}}">Contact</a>
</div>
</nav> 
<div id='main'>
  <div id='fixed-div'>
  <span id="fix" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <img id="logoo" src="static/logo2.png">
</div>

	<!-- form -->
	<form id="fillit" action="/contact" method="post">
		<h1>What can we help you with?</h1>
		<br>
		<input class="nicer" type="text" name="name" placeholder="Name">
		<br>
		<input class="nicer" type="text" name="address" placeholder="email">
		<br>
		<br>
		<textarea class="boxing" name="message" rows="10" cols="70"></textarea>
		<br>
		<br>
		<input id="joyce" type="submit" value="submit">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</form>
  <!-- Footer-->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="{{url_for('index')}}">Home
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('contact')}}">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('join')}}">Join Qayma</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('team')}}">Our Team</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 2019. All Rights Reserved To MEET students class of 2020-D1</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/TheSustainableGroup/">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/villageinabox/">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>


</div>

  <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="static/gulpfile.js"></script>
</body>
</html>