<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='landing-page.css')}}" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- Navigation -->
  <nav>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('team')}}">Our Team</a>
  <a href="#">Join Qayma</a>
  <a href="{{url_for('contact')}}">Contact</a>
</div>
</nav> 
<div id='main'>
  <div id='fixed-div'>
  <span id="fix" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <img id="logoo" src="static/logo.svg">
</div>
 <!-- Masthead -->
  <header class="masthead text-white text-center" style="margin-left: 45px">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"> <span class="spinny-words">
      <span>Village</span>
      <span>Community</span>
      <span>Zero Emissions</span>
      <span>Sustainability</span>
    </span><br><div id="emily"> in a Box.</div></h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          
        </div>
      </div>
    </div>
  </header>

    <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-recycle m-auto text-primary"></i>
            </div>
            <h3>Sustainability</h3>
            <p class="lead mb-0"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-users m-auto text-primary"></i>
            </div>
            <h3>Community</h3>
            <p class="lead mb-0"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-leaf m-auto text-primary"></i>
            </div>
            <h3>Zero Carbon</h3>
            <p class="lead mb-0"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- video  -->
  <section id="v" class="showcase" style="margin-left: 50px">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
  <div class="row no-gutters">
        <video id = "v" width="640" height="480" controls muted autoplay>
      <source src="static/sus.mp4" type="video/mp4">
    	</video>
        <div class="col-lg-6 my-auto showcase-text">
          <h2 id="help">"Imagination is the Beginning of Creation"</h2>
          <p id="helpp"class="lead mb-0">-George Bernard Shaw</p>
        </div>
      </div>

    </div>
  </section>
  <!-- Image Showcases -->
  <section class="showcase" style="margin-left: 45px">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/frick.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Sustainability</h2>
          <p class="lead mb-0">We offer sustainable housing, supported by 100% renewable and decentralized
			infrastructure.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/coms.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Community</h2>
          <p class="lead mb-0">Village-in-a-box is the future of communities. A community that is sustainable and resilient;
			productive and self-sufficient. It can be built anywhere on the globe.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/cas.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Zero Carbon</h2>
          <p class="lead mb-0">Solar PV, wind turbines, Energy storage Li-ion batteries and backup generator supply
			sufficient and surplus electricity for the community.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
 

  <!-- Call to Action -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <a class="artic" href="{{random_list[2].url}}">"{{random_list[2].title}}"</a>
          </div>
        </div>
        <div style="border-left: 1px solid black " class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <a class="artic" href="{{random_list[0].url}}">"{{random_list[0].title}}"</a>
          </div>
        </div>
        <div style="border-left: 1px solid black;" class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <a class="artic" href="{{random_list[1].url}}">"{{random_list[1].title}}"</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="articles">
    <a class="artic col-3" href={{random_list[0].url}}>{{random_list[0].title}}</a>
    <span class="col-1 vl"> </span>
    <a class="artic col-3" href={{random_list[1].url}}> {{random_list[1].title}}</a>
    <span class="col-1 vl"> </span>
    <a class="artic col-3" href={{random_list[2].url}}>{{random_list[2].title}}</a>
  </div> -->

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Join</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/TheSustainableGroup/">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/villageinabox/">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="static/gulpfile.js"></script>
</body>

</html>
