</html>
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Join Us</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='aboutsus.css')}}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="css/landing-page.min.css" rel="stylesheet"> -->

</head>

<body>
  <nav>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('team')}}">Our Team</a>
  <a href="{{url_for('join')}}">Join Qayma</a>
  <a href="{{url_for('contact')}}">Contact</a>
</div>
</nav> 
<div id='main'>
  <div id='fixed-div'>
  <span id="fix" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <img id="logoo" src="static/logo2.png">
</div>  <!-- Masthead -->
  <header class="masthead text-white text-center"style="background-image: url('../static/mitzpe.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 mx-auto">
          <h1 class="mb-5">Join Us</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>
  <section>


      <div class="row no-gutters">
        <div class="col-lg-12 my-auto showcase-text">
          <h2 id="p2">Qyama</h2>
          <p class="lead mb-0" id="p1">We are planing on buliding a sustainable village in Mitzpe Ramon. Qayma will be the first of many successful and happy villages. 
          Right now one of our main goals is to make sure we will have 200 families in the near future. 
          Want to hear more? <a href="{{url_for('contact')}}"> contact us </a>
          Or fill our survey.</p>
        </div>
      </div>
  </section>

  
  <section class="testimonials text-center bg-light" style="background-color: white; height: 4600px" >
    <div class="overlay">
      <h2 class="mb-5">Location </h2>
      <div class="row">
        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <p class="font-weight-light mb-0"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2928.0116866588346!2d34.79777037591938!3d30.627861091306873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDM3JzQwLjMiTiAzNMKwNDcnNTcuNCJF!5e1!3m2!1sen!2sil!4v1565102647299!5m2!1sen!2sil" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> </p>
          </div>
        </div>
      <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="width:700px;">
            <h5>Our Location</h5>
            <p class="font-weight-light mb-0" style="font-size:20px;,width: 300px;" >We decided to locate Qyama in Mitzpe Ramon where our serviceses really needed.Since we have an independent system we can locate our village in the desert. This model is suitable for the Isreali conditions and we hope that we can replicate this all over the Nagav.</p>
          </div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div id="surv">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8gIf-xLMNQq4h-oziKjxTRB63GLdbvPFBniMGGh3rHh0gWQ/viewform?embedded=true" width="640" height="3789" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
  </section>
  <div>

   <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="{{url_for('index')}}">Home
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('contact')}}">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('join')}}">Join Qayma</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{{url_for('team')}}">Our Team</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/TheSustainableGroup/">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/villageinabox/">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="static/gulpfile.js"></script>

</body>

</html>
